.btnprenota {
    width: 100%;
    height: auto;
}

.orario {
    width: 18vh;
}


.sel {
    width: 10vh;
}

.settbtn {
    width: 20vh;
}

.ore{
    width: 30vh;
}

.sociform{
    width: 50vh;
    padding-left: 50%;
}

#sidenav-overlay{
    z-index: 100;
}

#mobile-nav {
    z-index: 102;
}

.spacer {
    width: 5px;
    height: auto;
    display: inline-block;
}

.container .tbody .td {
    height: 5vh;
}


.unselectable {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

/* The whole thing */
.custom-menu {
    display: none;
    z-index: 1000;
    position: absolute;
    overflow: hidden;
    border: 1px solid #CCC;
    white-space: nowrap;
    font-family: sans-serif;
    background: #FFF;
    color: #333;
    border-radius: 5px;
    padding: 0;
}

/* Each of the items in the list */
.custom-menu li {
    padding: 8px 12px;
    cursor: pointer;
    list-style-type: none;
    transition: all .3s ease;
}

.custom-menu li:hover {
    background-color: #DEF;
}

