<div id="div_fullscreen">
    <div id="login_card" class="row z-depth-2">
        <div id="already_logged" class="hide col s12">
            <h5></h5>
            <div id="loader_already_logged">

            </div>
        </div>
        <h4 class="center"> Tennis </h4>
        <div class="col s12 divider black"></div>
        <br>
        <p>admin: un: admin pw:asd // socio: un: pinco pw: asd // calcetto: un: sancho pw: asd</p>
        <div class="input-field col s12">
            <input tabindex=2 id="username" name="username" type="text" class="validate">
            <label class="black-text" for="username">User</label>
        </div>
        <div class="input-field col s12">
            <input tabindex=3 id="password" name ="password" type="password" class="validate">
            <label class="black-text" for="password">Password</label>
        </div>
        <br>
        <div class="col s12">
            <button class="waves-effect waves-light btn grey darken-3 col s12" id="login">Login</button>
        </div>
        <!--<div class="col s12 divider black" style="margin-top:20px;margin-bottom:20px"></div>
        <div class="col s12">
            <font size="small">
            <div><a href="forgot/index.php" class="black-text"><i class="material-icons left">help</i> Password dimenticata </a></div>
            <div><a id="regis" class="black-text" style="cursor:pointer;"> <i class="material-icons left">person_add</i>Registrati </a></div>
            </font>
        </div>-->
    </div>

    <div id="register-card" class="hide z-depth-3">
        <div class="row">
            <h4  style="font-family: aeromatics;">T4S <a id="register_back" class="btn-floating btn waves-effect waves-light black right"><i class="material-icons">arrow_back</i></a></h4>
            <div class="col s12 divider black"></div>
            <div class="input-field col s12 l6">
                <input id="nm" type="text" name="namereg" class="validate">
                <label for="nm">Nome</label>
            </div>
            <div class="input-field col s12 l6">
                <input id="sn" type="text" name="surnamereg" class="validate">
                <label for="sn">Cognome</label>
            </div>

            <div class="input-field col s6 l6">
                <input type="text" class="datepicker picker__input" name="datanascitareg" id="dn"/>
                <label for="dn">Data di nascita</label>
            </div>

            <div class="input-field col s12 l6">
                <input id="un" type="text" name="usernamereg" class="validate">
                <label for="un">Username</label>
            </div>
        </div>
        <div class="row">
            <div class="input-field col s12 l6">
                <input id="ps" type="password" name="passwordreg" class="validate">
                <label for="ps">Password</label>
            </div>

            <div class="input-field col s12 l6">
                <input id="cp" type="password" name="conpasswordreg" class="validate">
                <label for="cp">Conferma password</label>
            </div>

            <div class="input-field col s12 l6">
                <input id="em" type="text" name="emailreg" class="validate">
                <label for="em">Email</label>
            </div>
            <div class="input-field col s12 l6">
                <input id="pc" type="password" name="passcodereg" class="validate">
                <label for="pc">Passcode (per i prof)</label>
            </div>
            <div class="input-field col s12 l6">
                <input type="checkbox" id="infocheck" />
                <label for="infocheck" style="font-size: 10px;line-height: normal;">Accettando autorizza al trattamento dei dati personali solo per scopo educativo.</label>
            </div>
            <div class="input-field col s12 l6">
                <button class="btn waves-effect waves-light grey darken-3" style="width:100%" id="register"> Registrati </button>
            </div>
            <div class="col s12 divider black" style="margin-top:20px;"></div>
        </div>
    </div>
</div>