/*.blur_login 
{
    filter: blur(8px);
    -webkit-filter: blur(8px);
    -moz-filter: blur(8px);
    -o-filter: blur(8px);
    -ms-filter: blur(8px);
}
*/
#already_logged
{
    position: relative;
    top: 20%;
}

#loader_already_logged 
{
    margin: auto;
    border: 12px solid #f3f3f3; /* Light grey */
    border-top: 12px solid black; 
    border-radius: 50%;
    width: 120px;
    height: 120px;
    animation: spin_already_logged 1.5s linear infinite;
}

@keyframes spin_already_logged 
{
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

#login_card
{
    position: relative;
    top:calc(50% - 230px);
    background: rgba(238,238,238,0.8);
    width: 280px;
    padding: 15px;
    /*box-shadow: 0px 0px 70px 40px rgba(238,238,238,0.9);*/
    border-radius: 2px;
}

#register-card
{
    position: relative;
    background: rgba(238,238,238,0.8);
    padding: 20px;
    height: 586px;
    top:calc(50% - 293px);
    /*box-shadow: 0px 0px 70px 40px rgba(238,238,238,0.9);*/
    border-radius: 5px;
}

#div_fullscreen 
{
    border-width: 0px;
    width: 100%; height: 100%; top: 0; left: 0;
    background: url(../../images/campo.jpg) no-repeat center top; position: fixed; z-index: 1;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

@media only screen and (min-width:0px)
{ 
    #register-card
    {
        overflow-y: scroll;
        left:calc(50% - 140px);
        width: 280px;
    }
}

@media only screen and (min-width:768px)
{
    #register-card
    {
        overflow-y: visible;
        left:calc(50% - 350px); 
        width: 700px;
    }
}

.loaded .slider{
    visibility: hidden;
    opacity: 0;
    transition: visibility 0s 0.4s, opacity 0.4s linear;
}

.loaded .title-index{
    visibility: hidden;
    opacity: 0;
    transition: visibility 0s 0.4s, opacity 0.4s linear;
}

.loaded #loader {
    opacity: 0;
    -webkit-transition: all 0.3s ease-out;  
    transition: all 0.3s ease-out;
}
.loaded #loader-wrapper {
    visibility: hidden;

    -webkit-transform: translateY(-100%);  /* Chrome, Opera 15+, Safari 3.1+ */
    -ms-transform: translateY(-100%);  /* IE 9 */
    transform: translateY(-100%);  /* Firefox 16+, IE 10+, Opera */

    -webkit-transition: all 0.3s 1s ease-out;  
    transition: all 0.3s 1s ease-out;
}

/* JavaScript Turned Off */
.no-js #loader-wrapper {
    display: none;
}
.no-js h1 {
    color: #222222;
}
/*
#content {
    margin: 0 auto;
    padding-bottom: 50px;
    width: 80%;
    max-width: 978px;
}*/



@font-face
{
    font-family: aeromatics;
    src: url("../../font/aeromatics.ttf") format("opentype");
}

/*
#loader-wrapper .loader-section {
    position: fixed;
    top: 0;
    width: 51%;
    height: 100%;
    background: rgba(0,0,0,0);
    z-index: 1000;
    -webkit-transform: translateX(0);   Chrome, Opera 15+, Safari 3.1+ 
    -ms-transform: translateX(0);   IE 9 
    transform: translateX(0);   Firefox 16+, IE 10+, Opera 
}

#loader-wrapper .loader-section.section-left {
    left: 0;
}

#loader-wrapper .loader-section.section-right {
    right: 0;
}

 Loaded 
.loaded #loader-wrapper .loader-section.section-left {
    -webkit-transform: translateX(-100%);   Chrome, Opera 15+, Safari 3.1+ 
    -ms-transform: translateX(-100%);   IE 9 
    transform: translateX(-100%);   Firefox 16+, IE 10+, Opera 

    -webkit-transition: all 0.7s 0.3s cubic-bezier(0.645, 0.045, 0.355, 1.000);  
    transition: all 0.7s 0.3s cubic-bezier(0.645, 0.045, 0.355, 1.000);
}

.loaded #loader-wrapper .loader-section.section-right {
    -webkit-transform: translateX(100%);   Chrome, Opera 15+, Safari 3.1+ 
    -ms-transform: translateX(100%);   IE 9 
    transform: translateX(100%);   Firefox 16+, IE 10+, Opera 

    -webkit-transition: all 0.7s 0.3s cubic-bezier(0.645, 0.045, 0.355, 1.000);  
    transition: all 0.7s 0.3s cubic-bezier(0.645, 0.045, 0.355, 1.000);
}*/

/*
@media only screen and (min-width:0px){
    .title-index h1{
        font-family:  aeromatics;
        color: #424242 ;
        text-align: center;
        font-size: 40;
        /*text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;*/
    /*}
    .title-index h1:after{
        content: "Training4School";
    }
    .title-index{
        position: fixed;
        top: 15px;
        z-index: 5000;
        width: 100%;
    }
    
    
    #login{
        width: 60%;
    }
    #loginfield{
        height: 100%;
        margin-top: 30%;
    }
    .btlog{
        padding-bottom: 30%;
    }
    .inputfield{
        position: relative;
        margin-left: 10%;
        margin-right: 10%;
        margin-top: 30%;
    }

    #registerloader{
        display: none;
    }
    #loader-wrapper {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 1000;
    }
    #loader{
        position: absolute;
        width: 100%;
        height: 100%;
        background: #eee;
        display: block;
        border-radius: 3px;
        /*border: 3px solid black;*/
/*        -webkit-animation: spin 2s linear infinite;  Chrome, Opera 15+, Safari 5+ 
        animation: spin 2s linear infinite;  Chrome, Firefox 16+, IE 10+, Opera 

        z-index: 1002;
    }
    #registerfield{
        position: absolute;
        width: 100%;
        height: 100%;
        background: #eee;
        display: block;
        padding: 10px;
        -webkit-animation: spin 2s linear infinite;  Chrome, Opera 15+, Safari 5+ 
        animation: spin 2s linear infinite;  Chrome, Firefox 16+, IE 10+, Opera 

        z-index: 1001;
    }
}
@media only screen and (min-width:768px){
    .title-index h1{
        font-family:  aeromatics;
        color: white;
        text-align: center;
        font-size: 60;
        text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
    }
    .title-index h1:after{
        content: "Training4School";
    }
    .title-index{
        position: fixed;
        top: 30px;
        z-index: 5000;
        width: 100%;
    }
    #login{
        width: 200px;
    }

    #loginfield{
        margin-top: 10px;
    }
    .inputfield{
        margin-top: 0;
    }

    #registerloader{
        display: none;
    }
    #loader-wrapper {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 1000;
    }
    #loader{
        position: absolute;
        width: 300px;
        height: 375px;
        top:50%;
        left: 50%;
        margin-top: -220px;
        margin-left: -150px;
        background: #eee;
        display: block;
        border-radius: 3px;
        border: 3px solid black;
        -webkit-animation: spin 2s linear infinite;  Chrome, Opera 15+, Safari 5+ 
        animation: spin 2s linear infinite;  Chrome, Firefox 16+, IE 10+, Opera 

        z-index: 1002;
    }
    #registerfield{
        position: absolute;
        width: 500px;
        height: 610px;
        top:50%;
        left: 50%;
        margin-top: -290px;
        margin-left: -250px;
        background: #eee;
        display: block;
        border-radius: 5px;
        border: 3px solid black;
        padding: 10px;
        -webkit-animation: spin 2s linear infinite;  Chrome, Opera 15+, Safari 5+ 
        animation: spin 2s linear infinite;  Chrome, Firefox 16+, IE 10+, Opera 

        z-index: 1001;
    }
}

.slider{
    z-index: 500;
    height: 100%;
}*/
.unselectable {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}


